Node-Red Flow/flows.json
[{"id":"4e7d7655.307bb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ae16f434.3e3248","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"6acd8412.36bbac","order":0,"width":0,"height":0,"gtype":"gage","title":"Medicine 3","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":740,"wires":[]},{"id":"5d9cd58b.653b8c","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"518847ab.293418","order":1,"width":0,"height":0,"gtype":"gage","title":"Medicine 4","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":780,"wires":[]},{"id":"e1602870.e3b8c8","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"518847ab.293418","order":2,"width":0,"height":0,"gtype":"gage","title":"Medicine 5","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":820,"wires":[]},{"id":"43c729ff.334d58","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"6acd8412.36bbac","order":3,"width":0,"height":0,"gtype":"gage","title":"Medicine 1","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":660,"wires":[]},{"id":"cc1e305.b5fd1d","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"6acd8412.36bbac","order":4,"width":0,"height":0,"gtype":"gage","title":"Medicine 2","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":700,"wires":[]},{"id":"e9cb8ee9.d0101","type":"mqtt in","z":"4e7d7655.307bb8","name":"Input","topic":"SMC","qos":"0","datatype":"auto","broker":"67426c83.bac444","x":270,"y":840,"wires":[["8dfe6387.95fcf","ad9b990c.1a9e98","e3f4203c.88be8","cb8bb02e.c4fec","7e29a8a1.0350c8","d164e7d8.9bdac8","4548514f.1097f","781a37f5.25b0b8","9a78e7b7.4c98e8","182c7438.6277fc","b922d667.055968"]]},{"id":"cb8bb02e.c4fec","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M2;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":700,"wires":[["cc1e305.b5fd1d"]]},{"id":"e3f4203c.88be8","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M1;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["43c729ff.334d58"]]},{"id":"ad9b990c.1a9e98","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M5;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":820,"wires":[["e1602870.e3b8c8"]]},{"id":"8dfe6387.95fcf","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M4;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":780,"wires":[["5d9cd58b.653b8c"]]},{"id":"7e29a8a1.0350c8","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M3;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":740,"wires":[["ae16f434.3e3248"]]},{"id":"5fd5bb5e.491164","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"14ff590.b9d43a7","order":0,"width":0,"height":0,"gtype":"gage","title":"Medicine 3","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":960,"wires":[]},{"id":"b0a93900.1f93c8","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"8ad03daa.faf38","order":1,"width":0,"height":0,"gtype":"gage","title":"Medicine 4","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1000,"wires":[]},{"id":"f5133234.ea78d","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"8ad03daa.faf38","order":2,"width":0,"height":0,"gtype":"gage","title":"Medicine 5","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1040,"wires":[]},{"id":"5ab61c3e.bdb204","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"8ad03daa.faf38","order":3,"width":0,"height":0,"gtype":"wave","title":"Urgency","label":"Level","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":1080,"wires":[]},{"id":"59273bed.ab5d04","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"14ff590.b9d43a7","order":4,"width":0,"height":0,"gtype":"gage","title":"Medicine 1","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":880,"wires":[]},{"id":"182c7438.6277fc","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi1;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":880,"wires":[["59273bed.ab5d04"]]},{"id":"9a78e7b7.4c98e8","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi6;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1080,"wires":[["5ab61c3e.bdb204"]]},{"id":"781a37f5.25b0b8","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi5;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1040,"wires":[["f5133234.ea78d"]]},{"id":"4548514f.1097f","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi4;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1000,"wires":[["b0a93900.1f93c8"]]},{"id":"d164e7d8.9bdac8","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi3;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":960,"wires":[["5fd5bb5e.491164"]]},{"id":"9044ff11.c9394","type":"ui_gauge","z":"4e7d7655.307bb8","name":"","group":"14ff590.b9d43a7","order":4,"width":0,"height":0,"gtype":"gage","title":"Medicine 2","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":920,"wires":[]},{"id":"b922d667.055968","type":"function","z":"4e7d7655.307bb8","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi2;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":920,"wires":[["9044ff11.c9394"]]},{"id":"6acd8412.36bbac","type":"ui_group","z":"","name":"Input","tab":"2b670924.e5b136","disp":true,"width":"5","collapse":false},{"id":"518847ab.293418","type":"ui_group","z":"","name":"Input1","tab":"2b670924.e5b136","disp":true,"width":"5","collapse":false},{"id":"67426c83.bac444","type":"mqtt-broker","z":"","name":"Cloud MQTT Broker","broker":"tailor.cloudmqtt.com","port":"18582","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"14ff590.b9d43a7","type":"ui_group","z":"","name":"Medicine Orders","tab":"2b670924.e5b136","disp":true,"width":"5","collapse":false},{"id":"8ad03daa.faf38","type":"ui_group","z":"","name":"Medicine Orders 1","tab":"2b670924.e5b136","disp":true,"width":"5","collapse":false},{"id":"2b670924.e5b136","type":"ui_tab","z":"","name":"Smart Medicine Control Dashboard","icon":"dashboard","disabled":false,"hidden":false}]