Node-Red Flow/flows.json
[{"id":"5142c9a6.0a3718","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"80aeb2c8.dd986","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"99be2ca5.dbe8","order":0,"width":0,"height":0,"gtype":"gage","title":"Medicine 3","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":740,"wires":[]},{"id":"feb8a920.d3b618","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"38655278.01f40e","order":1,"width":0,"height":0,"gtype":"gage","title":"Medicine 4","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":780,"wires":[]},{"id":"72ab921a.08c1ec","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"38655278.01f40e","order":2,"width":0,"height":0,"gtype":"gage","title":"Medicine 5","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":820,"wires":[]},{"id":"7f9e85e7.9c530c","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"99be2ca5.dbe8","order":3,"width":0,"height":0,"gtype":"gage","title":"Medicine 1","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":660,"wires":[]},{"id":"8845910b.58bb5","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"99be2ca5.dbe8","order":4,"width":0,"height":0,"gtype":"gage","title":"Medicine 2","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":700,"wires":[]},{"id":"60ffed2e.e80424","type":"mqtt in","z":"5142c9a6.0a3718","name":"Input","topic":"SMC","qos":"0","datatype":"auto","broker":"7011f7a4.25a128","x":270,"y":840,"wires":[["55ed9a79.9673c4","addf0764.5f2048","19ca18ff.3388d7","6136fde.4cbc004","e6fc463.fe047b8","2019efd.f154e1","334d844a.18539c","4f358fc2.7195","58ddd0fb.11889","f7086d8f.4c93c","88086ba6.75a558"]]},{"id":"6136fde.4cbc004","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M2;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":700,"wires":[["8845910b.58bb5"]]},{"id":"19ca18ff.3388d7","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M1;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["7f9e85e7.9c530c"]]},{"id":"addf0764.5f2048","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M5;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":820,"wires":[["72ab921a.08c1ec"]]},{"id":"55ed9a79.9673c4","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M4;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":780,"wires":[["feb8a920.d3b618"]]},{"id":"e6fc463.fe047b8","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.M3;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":740,"wires":[["80aeb2c8.dd986"]]},{"id":"9366b792.3621d8","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"5faf69c.16f3d98","order":0,"width":0,"height":0,"gtype":"gage","title":"Medicine 3","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":960,"wires":[]},{"id":"2881016b.e7f76e","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"afef8ff.208767","order":1,"width":0,"height":0,"gtype":"gage","title":"Medicine 4","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1000,"wires":[]},{"id":"75da739d.0556bc","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"afef8ff.208767","order":2,"width":0,"height":0,"gtype":"gage","title":"Medicine 5","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":1040,"wires":[]},{"id":"e249277e.42ad48","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"afef8ff.208767","order":3,"width":0,"height":0,"gtype":"wave","title":"Urgency","label":"Level","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":1080,"wires":[]},{"id":"d2e09c8b.14269","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"5faf69c.16f3d98","order":4,"width":0,"height":0,"gtype":"gage","title":"Medicine 1","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":880,"wires":[]},{"id":"f7086d8f.4c93c","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi1;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":880,"wires":[["d2e09c8b.14269"]]},{"id":"58ddd0fb.11889","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi6;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1080,"wires":[["e249277e.42ad48"]]},{"id":"4f358fc2.7195","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi5;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1040,"wires":[["75da739d.0556bc"]]},{"id":"334d844a.18539c","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi4;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1000,"wires":[["2881016b.e7f76e"]]},{"id":"2019efd.f154e1","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi3;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":960,"wires":[["9366b792.3621d8"]]},{"id":"58f70ed4.1d227","type":"ui_gauge","z":"5142c9a6.0a3718","name":"","group":"5faf69c.16f3d98","order":4,"width":0,"height":0,"gtype":"gage","title":"Medicine 2","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":920,"wires":[]},{"id":"88086ba6.75a558","type":"function","z":"5142c9a6.0a3718","name":"","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.Mi2;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":920,"wires":[["58f70ed4.1d227"]]},{"id":"99be2ca5.dbe8","type":"ui_group","z":"","name":"Input","tab":"ee7f1bc3.07a528","disp":true,"width":"4","collapse":false},{"id":"38655278.01f40e","type":"ui_group","z":"","name":"Input1","tab":"ee7f1bc3.07a528","disp":true,"width":"4","collapse":false},{"id":"7011f7a4.25a128","type":"mqtt-broker","z":"","name":"Cloud MQTT Broker","broker":"xxxxx.cloudmqtt.com","port":"xxxxx","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5faf69c.16f3d98","type":"ui_group","z":"","name":"Medicine Orders","tab":"ee7f1bc3.07a528","disp":true,"width":"4","collapse":false},{"id":"afef8ff.208767","type":"ui_group","z":"","name":"Medicine Orders 1","tab":"ee7f1bc3.07a528","disp":true,"width":"4","collapse":false},{"id":"ee7f1bc3.07a528","type":"ui_tab","z":"","name":"Smart Medicine Control Dashboard","icon":"dashboard","disabled":false,"hidden":false}]